*~
*#
*.pyc
*.mo
/src
/tmp
/build
local_settings.py
*.sqlite
.idea/
/venv/
/data/
yarn.lock
package-lock.json
/client/*/node_modules/
/client/*/assets/app.js
/client/*/assets/app.js.map
/client/*/assets/**.*
/client/*/assets/app.*.js
/client/*/assets/index.html
/client/*/assets/index.*.html
Thumbs.db
__pycache__
erl_crash.dump
.DS_Store
