{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<p>Race: {{race}}</p>
<p>This action create the next stage of brackets, based on last finished bracket.</p>
<p>The last bracket should be finished to perform.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="default" type="submit" value="Create brackets">
</form>

{% endblock %}
